<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> Admin Only Menu</title>
  <link href="/css/style.css" rel="stylesheet"  />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
  <nav id="navi">
    <a href="/adminHome">Home</a>
    <a href="/viewUsers">View Users</a>
    <a href="/adminTeams">View Teams</a>
    <a href="/logout">Logout</a>
  </nav>
</body>
</html>